---
services:
  cloudflared:
    container_name: {{ cloudflared_container_name }}
    image: {{ cloudflared_image }}
    restart: unless-stopped
    network_mode: host
    command: tunnel --no-autoupdate run --token {{ cloudflared_token }}
