---
services:
  portainer:
    image: portainer/portainer-ce:{{ portainer_version }}
    container_name: {{ portainer_container_name }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "{{ portainer_port }}:9443"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - portainer_data:/data

volumes:
  portainer_data:
