---
services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:{{ homeassistant_version | default('stable') }}
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      - TZ={{ homeassistant_timezone | default('Asia/Kolkata') }}
      - DOCKER_MODS=linuxserver/mods:homeassistant-hacs
    volumes:
      - {{ homeassistant_config_dir }}:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
