# Managed by Ansible (initial deployment only)
# Loads default set of integrations. Do not remove.
default_config:

# HTTP configuration - managed by Ansible via http.yaml
http: !include http.yaml

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
