---
- name: Setup Docker
  hosts: "{{ variable_host | default('none') }}"
  become: true

  vars:
    pip_install_packages:
      - name: docker

  roles:
    - geerlingguy.pip
    - role: geerlingguy.docker
      vars:
        docker_edition: 'ce'
        # Uses docker compose plugin (v2) by default via docker_install_compose_plugin: true
        # Set to true only if you need legacy standalone docker-compose binary
        docker_install_compose: false
        docker_users:
          - '{{ ansible_user }}'
